#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 > #backgroundBox {
  position: absolute;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_2 {
  position: absolute;
  width: 166.517257142857px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_3 {
  position: absolute;
  width: 47.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_4 {
  position: absolute;
  width: 44.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_4 span {
  color: #27DE1C;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #27DE1C;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_5 {
  position: absolute;
  width: 47.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_11 {
  position: absolute;
  width: 47.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_6 {
  position: absolute;
  width: 42.679687499999886px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_7 {
  position: absolute;
  width: 50.6796875px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_8 {
  position: absolute;
  width: 74.74136352539026px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_9 {
  position: absolute;
  width: 74.74136352539026px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_10 {
  position: absolute;
  width: 74.74136352539026px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_12 {
  position: absolute;
  width: 166.517257142857px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_13 {
  position: absolute;
  width: 47.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_14 {
  position: absolute;
  width: 44.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_14 span {
  color: #EC1313;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #EC1313;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_15 {
  position: absolute;
  width: 47.517257142857034px;
  min-height: 29.326059469433403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_16 {
  position: absolute;
  width: 58.517257142857034px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Group_3 {
  z-index: 100;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 {
  position: absolute;
  width: 50.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Path_1 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Path_2 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Path_3 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Group_3 > * {
  z-index: 100;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a64ea37e-2ba0-4260-8606-7dead54b4fc8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}