#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e > #backgroundBox {
  position: absolute;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Ellipse_1 {
  width: 150.0px;
  height: 150.0px;
  min-height: 150.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_1 {
  position: absolute;
  width: 120.00000000000034px;
  min-height: 41.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 .valign {
  vertical-align: middle;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_2 {
  position: absolute;
  width: 120.00000000000034px;
  min-height: 41.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 .valign {
  vertical-align: middle;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_3 {
  position: absolute;
  width: 120.00000000000034px;
  min-height: 41.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 .valign {
  vertical-align: middle;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_4 {
  position: absolute;
  width: 120.00000000000034px;
  min-height: 41.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 input::-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 input:-moz-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 .valign {
  vertical-align: middle;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_5 {
  position: absolute;
  width: 120.00000000000034px;
  min-height: 41.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Image_1 {
  position: absolute;
  width: 138.00000000000045px;
  height: 150.98056155507572px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_6 {
  position: absolute;
  width: 83.00000000000011px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Group_1 {
  z-index: 100;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 {
  position: absolute;
  width: 50.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.75pt;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Path_1 {
  position: absolute;
  width: 17.0px;
  height: 10.66670036315918px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Path_2 {
  position: absolute;
  width: 15.27301025390625px;
  height: 10.965625762939453px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Path_3 {
  position: absolute;
  width: 23.8280029296875px;
  height: 11.33331298828125px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Group_1 > * {
  z-index: 100;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b1cfbffe-b2d8-4a1e-8d55-bb5e91a8324e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}